<div class="page-header">
	<div class="row">
  		<div class="span2">
        	<%= image_tag current_user.gravatar_url %>
		</div>
		<div class="span4">
			<h1><%= @user.full_name %></h1>
		</div>
	</div>
</div>


<% @myposts.each do |post| %>
<div class="mini-layout">
    <div class="mini-layout-body">
		<p><%= post.content %></p><br />
		<%= link_to time_ago_in_words(post.created_at) + " ago", post %>
		 <span class="admin">
          | <%= link_to "Edit", edit_wallpost_path(post), class: "btn btn-info" %>
          | <%= link_to "Delete", post,  method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></span>
	</div>
</div>
<% end %>