
<div class="page-header">
  <h1>Wall</h1>
</div>


<% @wallposts.each do |wallpost| %>
  <div class="mini-layout">
    <div class="row">
      <div class="span1">
     <%=link_to image_tag(wallpost.user.gravatar_url), wallpost %>
      </div>
      <div class="span10">
        <div class="mini-layout-body">
          <strong><%= wallpost.user.profile_name %></strong>
          <p><%= wallpost.content %></p>
            <div class="meta"> 
              <%= link_to time_ago_in_words(wallpost.created_at) + " ago", wallpost %> 
                <span class="admin">
                  <% if user_signed_in? && current_user.first_name == "keerthi" %>
                     | <%= link_to "Delete", wallpost,  method: :delete, data: { confirm: "Are you sure?" } %>
                 <% else %>
                  <% end %>
                </span>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

