<div class="page-header">
  <h1>My Wall</h1>
</div>

<% @wallposts.each do |wallpost| %>
  <div class="mini-layout">
    <div class="mini-layout-body">
    <strong><%= wallpost.name %></strong>
    <p><%= wallpost.content %></p>
      <div class="meta"> 
        <%= link_to time_ago_in_words(wallpost.created_at) + " ago", wallpost %> 
          <span class="admin">
          | <%= link_to "Edit", edit_wallpost_path(wallpost) %> |
           <%= link_to "Delete", wallpost,  method: :delete, data: { confirm: "Are you sure?" } %>
          </span>
      </div>
    </div>
  </div>
<% end %>

